@import "@material/react-card/index.scss";
@import "@material/react-checkbox/index.scss";
@import '@material/react-chips/index.scss';
@import '@material/react-material-icon/index.scss';
@import '@material/react-dialog/index.scss';
@import '@material/react-drawer/index.scss';
@import '@material/react-switch/index.scss';
@import '@material/react-snackbar/index.scss';
@import '@material/react-tab-bar/index.scss';
@import '@material/react-tab-scroller/index.scss';
@import '@material/react-tab/index.scss';
@import '@material/react-tab-indicator/index.scss';
@import '@material/react-tab-indicator/index.scss';
li{
  list-style: none;
}
label{
  height: 40px;
  line-height: 40px;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v47/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}